---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Community Care",
    description:
      "The community care services which BWHC provides are intended to help people within the community who need care and support.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Disability Care",
    description:
      "This service is available to all elderly people, whether they may be suffering from dementia and any other impairment or just require access to our services.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Aged Care",
    description:
      "We provide care that is inclusive of all types of disabilities, whether that may be physical or intellectual.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Respite Care",
    description:
      "We are committed to providing respite care whether it may be for a few hours or days a week, no service is too small or too big.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Early Intervention Support for Early Childhood",
    description:
      "Our Early Intervention Support Services deliver a range of essential educational tools and programs to assist eligible families and their children, with a focus on growth and building confidence in the home and in the community.",
    icon: "bx:bxs-check-circle",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Our Services
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    What kind of support are you looking for?
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
