<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Black & White Home Care. All rights reserved.
  </p>
  <!-- Developed By Hungry Innovator's Technologies. -->
  <p class="text-center text-xs text-slate-500 mt-1">
    Developed By  <a
      href="https://www.hungryinnovators.com.au/"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Hungry Innovator's Technologies.
    </a>
  </p>
</footer>
